---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ImageToVideoPage from '@components/ImageToVideo';
import SeoSections from '@components/Seo/VideoGenerator/SeoSections.astro';
---

<Layout title="Video Generator" description="Video Generator">
  <main class="relative overflow-hidden min-h-screen flex flex-col">
    <div
      class="z-0 absolute w-80 h-60 bg-blue-600 blur-[80px] opacity-30 -top-20 -right-20"
    >
    </div>
    <div
      class="z-0 absolute w-80 h-60 bg-blue-400 blur-[80px] opacity-30 top-40 left-40"
    >
    </div>
    <div
      class="z-0 absolute w-80 h-60 bg-purple-400 blur-[80px] opacity-30 top-40 right-40"
    >
    </div>
    <Header />
    <section id="image-to-video">
      <ImageToVideoPage client:only="react" />
    </section>
    <SeoSections />
  </main>
  <Footer />
</Layout>
